
<% include partials/header.ejs%>
<% include partials/navbar.ejs%>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/project_overview/<%=projectid%>"><b>Overview</b></a></li>
        <li><a href="/project_activity/<%=projectid%>"><b>Activity</b></a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/project_members/<%=projectid%>"><b>Members</b></a></li>
        <li class="active"><a href="#"><b>Issues</b></a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="page-header"><b>Issues</b></h2>
      
      <h3><b>Fillter</b></h3>

      <form class="" action="" method="get">
        <input type="hidden" name="page" value="1">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="blankCheckbox" name="isid" value="true"> ID
                </label>
              </div>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" id="id" name="issueid" placeholder="Issue ID" value="">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="blankCheckbox" name="subname" value="true"> Subject
                </label>
              </div>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" id="id" name="subject" placeholder="Subject" value="">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="blankCheckbox" name="ctracker" value="true"> Tracker
                </label>
              </div>
            </div>
            <div class="col-md-10">
              <select class="form-control" name="tracker">
                <option value="">Chosee The Tracker...</option>
                
                  <option name="tracker" value="support">Support</option>
                  
                  <option name="tracker" value="bug">Bug</option>
                  
                  <option name="tracker" value="feature">Feature</option>
                  
                </select>
              </div>
            </div><br/>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/project_issues/<%=projectid%>" class="btn btn-warning">reset</a>
          </div>
        </form>

        <h3><b>Options</b></h3>
        <form class="" action="/config_issues/<%=projectid%>" method="get">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2"> Columns
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="siid" value="true"  <%= config.siid == true ? ' checked' : '' %>> ID
                    <br/><input type="checkbox" name="sisubject" value="true"  <%= config.sisubject == true ? ' checked' : '' %>> Subject
                    <br/><input type="checkbox" name="sitracker" value="true"  <%= config.sitracker == true ? ' checked' : '' %>> Tracker
                    <br/><input type="checkbox" name="sipriority" value="true"  <%= config.sipriority == true ? ' checked' : '' %>> Priority
                  </label>
                </div>
              </div>
            </div><br/>
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>
        </form>
        <br/>
        <table class="table table-striped">
          <thead>
           <tr>
            <% if(config.siid){ %><th><b>Issue ID</b></th><% } %>
            <% if(config.sisubject){ %><th><b>Subject</b></th><% } %>
            <% if(config.sitracker){ %><th><b>Tracker</b></th><% } %>
            <% if(config.sipriority){ %><th><b>Priority</b></th><% } %>
            <% if(config.siid || config.sisubject || config.sitracker || config.sipriority){  %><th>Action</th><% } %>
          </tr>

        
          </thead>
          <tbody>
            
              <%for(i=0;i<data.length;i++){%>
                  <tr>
                  <% if(config.siid){ %><td><%=data[i].issue_id%></td><% } %>                    
                  <% if(config.sisubject){ %><td><%=data[i].subject%></td><% } %>                    
                  <% if(config.sitracker){ %><td><%=data[i].tracker%></td><% } %>                    
                  <% if(config.sipriority){ %><td><%=data[i].priority%></td><% } %>                    
                  <% if(config.siid || config.sisubject || config.sitracker || config.sipriority){  %>
                    <td>
                      
                      <a href="/edit_ProjectIssues/<%=projectid%>/edit/<%=data[i].issue_id%>" class="btn btn-success">Edit</a>
                      <a href="/delete_issue/<%=projectid%>/<%=data[i].issue_id%>?page=<%=pagination.page%>" class="btn btn-danger" onclick="return confirm('Yakin mau delete issue : <%=data[i].subject%>')">Delete</a>
                    </td>
                  <%}%>                                                            
                  </tr>
              
              <%}%>  
              

            
          </tbody>
        </table>
        <nav aria-label="Page navigation">
        <ul class="pagination">
            <% if(pagination.page > 1){ %>
            <li>
                <a href="<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page)-1}`) %>"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% } %>
            <%for(let i=1;i<=pagination.pages;i++){%>

            <li class="<%= pagination.page==i ? 'active':'' %> ">
                <a href="<%= pagination.url.replace(`page=${pagination.page}`, `page=${i}`) %>">
                    <%=i%>
                </a>
            </li>

            <%}%>
            
            <% if(pagination.page < pagination.pages){ %>
            <li>
                <a href="<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page)+1}`) %>"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <% } %>
        </ul>
        </nav>
          <a href="/add_projectissue/<%=projectid%>" type="submit" class="btn btn-primary">add</a>

        
        </div>
      </div>
    </div>

    
  </body>
  </html>
